@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!------ AboutCompany ------>
<section class="aboutCompany">
    <div class="container">
        <div class="left">
            <img src="~/images/static/AboutCompany2.jpg" alt="">
            <div class="text-block ">
                <div class="textPadding">
                    <div class="text">
                        <p class="header">Samantha Brown, </p>
                        <p class="title"> Founder</p>
                    </div>
                    <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit."</p>
                </div>
            </div>
        </div>

        <div class="right ">
            <h1 class="title">About Company</h1>
            <p class="heading">We Are Business Consulting & Credit Repair Experts</p>
            <div class="bodyWidthAdjust">
                <p class="bodyText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam officiis quas assumenda esse obcaecati? Ex esse error voluptates iure vel totam eos.</p>
                <p class="bodyText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis esse quasi incidunt adipisci accusantium libero provident voluptate amet.</p>
            </div>

            <div class="buttons ">
                <button class="buttonBlack me-3">Learn More <i class="fa-regular fa-arrow-up-right" style="color: white;"></i></button>
                <button class=" ButtonBgWhite"><i class="fa-regular fa-circle-play play" style=" font-size: 55px;"></i> <aside>Intro Video</aside> </button>
            </div>
        </div>
    </div>
</section>