@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="articleNews">
    <div class="container">
        <div class="serviceText ">
            <div class="title">Article & News</div>
            <div class="headingButton">
                <div class="heading">Get Every Single Articles & News</div>
                <div class="placeButton">
                    <a href="https://localhost:44365/news/" class="buttonReverse">Browse Articles <i class="fa-regular fa-arrow-up-right ps-2 icon"></i></a>
                </div>
            </div>
        </div>

        <div class="cards">

            <a class="card" href="https://localhost:44365/news/how-to-use-digitalization-in-the-classroom/">
                <div class="ImgAndDate ">
                    <img src="~/images/static/ArticleNews-Classroom.jpg" alt="">
                    <div class="squareDate">
                        <p class="dayOfMonth">25</p>
                        <p class="month">Mar</p>
                    </div>
                </div>
                <div class="text">
                    <p class="category">Business</p>
                    <h2 class="header">How To Use Digitalization In The Classroom</h2>
                    <p class="bodyText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
            </a>

            <a class="card" href="https://localhost:44365/news/how-to-implement-chat-gpt-in-your-projects/">
                <div class="ImgAndDate ">
                    <img src="~/images/static/ArticleNews-ChatGPT.jpg" alt="">
                    <div class="squareDate">
                        <p class="dayOfMonth">17</p>
                        <p class="month">Mar</p>
                    </div>
                </div>
                <div class="text">
                    <p class="category">Business</p>
                    <h2 class="header">How To Implement Chat GPT In Your Projects</h2>
                    <p class="bodyText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
            </a>

            <a class="card" href="https://localhost:44365/news/the-guide-to-support-modern-css-design/">
                <div class="ImgAndDate ">
                    <img src="~/images/static/ArticleNews-GuideDesign.jpg" alt="">
                    <div class="squareDate">
                        <p class="dayOfMonth">13</p>
                        <p class="month">Mar</p>
                    </div>
                </div>
                <div class="text">
                    <p class="category">Business</p>
                    <h2 class="header">The Guide To Support Modern CSS Design</h2>
                    <p class="bodyText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
            </a>
        </div>

      <!-- 5 dots -->
        <div class="dots">
            <p class="dot"><i class="fa-solid fa-circle"></i></p>
            <p class="dot black"><i class="fa-solid fa-circle"></i></p>
            <p class="dot"><i class="fa-solid fa-circle"></i></p>
            <p class="dot"><i class="fa-solid fa-circle"></i></p>
            <p class="dot"><i class="fa-solid fa-circle"></i></p>
        </div>
    </div>
</section>