@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!------ ChooseUs ------->
<section class="chooseUs border">
    <div class="container">
        <div class="alignLeftRight">
            <div class="left">
                <div class="chooseText">
                    <div class="title">Why Choose Us</div>
                    <div class="heading">Why We Are The Best Business Consulting Agency</div>
                </div>

                <div class="_cards">
                    <div class="_card">
                        <p class="icon"><i class="fa-light fa-thumbs-up"></i></p>
                        <div class="text ">
                            <p class="cardTitle">Process Excellence</p>
                            <p class="bodyText">Lorem, ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>

                    <div class="_card">
                        <p class="icon"><i class="fa-light fa-bullseye-pointer"></i></p>
                        <div class="text ">
                            <p class="cardTitle">Strategic Planning</p>
                            <p class="bodyText">Lorem, ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>

                    <div class="_card">
                        <p class="icon"><i class="fa-light fa-pen-nib"></i></p>
                        <div class="text ">
                            <p class="cardTitle">Experience Design</p>
                            <p class="bodyText">Lorem, ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>

                    <div class="_card">
                        <p class="icon"><i class="fa-light fa-head-side-gear"></i></p>
                        <div class="text ">
                            <p class="cardTitle">Artificial Inteligence</p>
                            <p class="bodyText">Lorem, ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right">
                <img class="photo" src="~/images/static/WhyChooseUs.jpg" alt="">
            </div>
        </div>
    </div>
</section>