@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!------ Footer ------>
<footer>
    
    <section class="container ">
        <div class="footerLinks ">
            <div class="movelogoText">
                <div class="logoText">
                    <img src="~/images/static/logotype-white.svg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
                </div>
            </div>

            <div class="placeSections ">
                <div class="footerSection">
                    <h2 class="title">Company</h2>
                    <ul class="links">
                        <li><a href="/about">About</a></li>
                        <li><a href="/features">Features</a></li>
                        <li><a href="/works">Works</a></li>
                        <li><a href="/career">Career</a></li>
                    </ul>
                </div>
    
                <div class="footerSection">
                    <h2 class="title">Help</h2>
                    <ul class="links">
                        <li><a href="/support">Customer Support</a></li>
                        <li><a href="/delivery">Delivery Details</a></li>
                        <li><a href="/agreements/terms">Terms & Conditions</a></li>
                        <li><a href="/agreements/privacy">Privacy Policy</a></li> 
                    </ul>
                </div>
    
                <div class="footerSection">
                    <h2 class="title">Resources</h2>
                    <ul class="links">
                        <li><a href="/free/ebook">Free eBooks</a></li>
                        <li><a href="tutorials/dvelopment">Development Tutorial</a></li>
                        <li><a href="/guides/how-to-blog">How to - Blog</a></li>
                        <li><a href="https://www.youtube.com/" target="_blank">Youtube Playlist</a></li>
                    </ul>
                </div>
    
                <div class="footerSection">
                    <h2 class="title">Link</h2>
                    <ul class="links">
                        <li><a href="/free/ebook">Free eBooks</a></li>
                        <li><a href="tutorials/dvelopment">Development Tutorial</a></li>
                        <li><a href="/guides/how-to-blog">How to - Blog</a></li>
                        <li><a href="https://www.youtube.com/" target="_blank">Youtube Playlist</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footerBottom">
            <p>© @DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.</p>
            <div class="socials">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </section>
</footer>  