@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!------ MeetTeam ------>
<section class="meetTeam">
    <div class="container">
        <div class="serviceText">
            <div class="title">Meet Our Team</div>
            <div class="headingButton">
                <div class="heading">Experience Team Members</div>
                <div class="placeButton">
                    <button class="buttonReverse">Browse Team <i class="fa-regular fa-arrow-up-right ps-2 icon" ></i></button>
                </div>
            </div>
        </div>

        <div class="memCards">
            <div class="memCard">
                <img src="~/images/static/TeamMember-Kristine.jpg" alt="Picture of employee Kristine Palmer">
                <h3 class="name">Kristine Palmer</h3>
                <p class="title">Chef Operation Officer</p>
            </div>

            <div class="memCard">
                <img src="~/images/static/TeamMember-Mark.jpg" alt="Picture of employee Kristine Palmer">
                <h3 class="name">Mark Aubri</h3>
                <p class="title">Senior Consultant</p>
            </div>

            <div class="memCard">
                <img src="~/images/static/TeamMember-Kimberly.jpg" alt="Picture of employee Kristine Palmer">
                <h3 class="name">Kimberly Hansen</h3>
                <p class="title">Senior Consultant</p>
            </div>

            <div class="memCard">
                <img src="~/images/static/TeamMember-Justin.jpg" alt="Picture of employee Kristine Palmer">
                <h3 class="name">Justin Willoman</h3>
                <p class="title">Senior Tech Consultant</p>
            </div>
        </div>

        <!-- 5 dots -->
        <div class="dots">
            <p class="dot"><i class="fa-solid fa-circle"></i></p>
            <p class="dot black"><i class="fa-solid fa-circle"></i></p>
            <p class="dot"><i class="fa-solid fa-circle"></i></p>
            <p class="dot"><i class="fa-solid fa-circle"></i></p>
            <p class="dot"><i class="fa-solid fa-circle"></i></p>
        </div>
    </div>
</section>