@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="newsletter">
    <div class="container">
        <h2>Get News Updates By Signup</h2>
        <div class="textBtn">
            <p>username@domain.com</p>
            <button class="btnSubscribe">Subscribe <i class="fa-regular fa-arrow-up-right"></i></button>
        </div>
    </div>
</section>