@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!------ ProjectCaseStudies ------>
<section class="projectCaseStudies border">
    <div class="container">
        <div class="projectText">
            <div class="title">Project & Case Studies</div>
            <div class="heading">Let’s Looks Our Global Projects</div>
        </div>

        <div class="CardProjectCaseStudies">
            <div class="_cards">
                <div class="card">
                    <img src="~/images/static/GlobalProjects-Business.jpg" alt="">
                    <p class="cardTitle">Grow your business</p>
                    <img class="line" src="~/images/static/cardLine.jpg" alt="">
                    <p class="readMore">Read More <i class="fa-regular fa-arrow-up-right icon" style="color: #191919;"></i></p>
                </div>

                <div class="card">
                    <img src="~/images/static/GlobalProjects-clientsWebsite.jpg" alt="">
                    <p class="cardTitle">Why your client needs a responsive website</p>
                    <img class="line" src="~/images/static/cardLine.jpg" alt="">
                    <p class="readMore">Read More <i class="fa-regular fa-arrow-up-right icon" style="color: #191919;"></i></p>
                </div>

                <div class="card">
                    <img src="~/images/static/GlobalProjects-EducateEmployee.jpg" alt="">
                    <p class="cardTitle">Educate your employees to get better results</p>
                    <img class="line" src="~/images/static/cardLine.jpg" alt="">
                    <p class="readMore">Read More <i class="fa-regular fa-arrow-up-right icon" style="color: #191919;"></i></p>
                </div>

                <div class="card">
                    <img src="~/images/static/GlobalProjects-BusinessInsight.jpg" alt="">
                    <p class="cardTitle">Business Insights is a important piece of your business</p>
                    <img class="line" src="~/images/static/cardLine.jpg" alt="">
                    <p class="readMore">Read More <i class="fa-regular fa-arrow-up-right icon" style="color: #191919;"></i></p>
                </div>
            </div>
        </div>

        <div class="buttons">
            <button class="btn_All buttonBlack me-3">All Recent Projects <i class="fa-regular fa-arrow-up-right icon" style="color: white;"></i></button>
        </div>
    </div>
</section>
