@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!------ Testimonial ------>
<section class="testimonial">
    <div class="container">
        <div class="projectText">
            <div class="title">Testimonial</div>
            <div class="heading">What Our Client Says</div>
        </div>
    
        <div class="cards ">
            <div class="card ">
                <div class="starRating">
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                </div>
                <q class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate</q>
            
                <div class="authors">
                    <img src="~/images/static/Testimonial-Cassandra.jpg" alt="Cassandra">
                    <div class="textNameTitle">
                        <h2 class="name">Cassandra Warren</h2>
                        <h3 class="careerTitle">Business Manager, Dorfus</h3>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="starRating">
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                </div>
                <q class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate</q>
            
                <div class="authors">
                    <img src="~/images/static/Testimonial-Amanda.jpg" alt="Cassandra">
                    <div class="textNameTitle">
                        <h2 class="name">Amanda Tulling</h2>
                        <h3 class="careerTitle">Senior Developer, Square</h3>
                    </div>
                
                </div>
            </div>

            <div class="card">
                <div class="starRating">
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                </div>
                <q class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate</q>
            
                <div class="authors">
                    <img src="~/images/static/Testimonial-Jack.jpg" alt="Cassandra">
                    <div class="textNameTitle">
                        <h2 class="name">Jack McDogglas</h2>
                        <h3 class="careerTitle">Key Account Manager, Gobona</h3>
                    </div>
                
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="btn_All buttonBlack me-3">All Reviews <i class="fa-regular fa-arrow-up-right icon"></i></button>
        </div>
    </div>
    </section>